<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
<link rel="apple-touch-icon" sizes="72x72" href="{{site.baseurl}}/assets/login.io/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/login.io/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/login.io/favicon-16x16.png">
<link rel="manifest" href="{{site.baseurl}}/assets/login.io/site.webmanifest">
<link rel="mask-icon" href="{{site.baseurl}}/assets/login.io/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">